<h1>HTML to PDF in Angular 10</h1>
<button (click)="createPDF()">Generate PDF</button>
<table id="contentToConvert" border="1" width="100%">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Article</th>
      <th>Technology</th>
      <th>Author</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Star Rating In Angular 10</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>2</td>
      <td>TypeAhead With Custom Result Template In Angular 10</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Circular Progress Bar In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Display Loader/Spinner On Each HTTP Calls In Angular 10</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Form Validation In Angular 10</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Building Responsive Carousel Slider In Angular 10</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>7</td>
      <td>How To Implement Lazy Loading Module In Angular 10</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Separate Development And Production URL In Angular 10</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
  </tbody>
</table>
<div id="content" #content>  
  <mat-card>  
    <div class="alert alert-info">  
        <strong>Html To PDF Conversion - Angular 10</strong>  
    </div>  
    <div>  
      <input type="button" value="downloadPDF" (click)="downloadPDF()"/>  
    </div>  
  </mat-card>  
</div>  
<div >  
  <mat-card>  
    <table id="contentToConvert">  
        <tr>  
          <th>Column1</th>  
          <th>Column2</th>  
          <th>Column3</th>  
        </tr>  
        <tr>  
          <td>Row 1</td>  
          <td>Row 1</td>  
          <td>Row 1</td>  
        </tr>  
        <tr>  
          <td>Row 2</td>  
          <td>Row 2</td>  
          <td>Row 2</td>  
        </tr>  
        <tr>  
          <td>Row 3</td>  
          <td>Row 3</td>  
          <td>Row 3</td>  
        </tr>  
        <tr>  
          <td>Row 4</td>  
          <td>Row 4</td>  
          <td>Row 4</td>  
        </tr>  
        <tr>  
          <td>Row 5</td>  
          <td>Row 5</td>  
          <td>Row 5</td>  
        </tr>  
        <tr>  
          <td>Row 6</td>  
          <td>Row 6</td>  
          <td>Row 6</td>  
        </tr>  
      </table>  
        
  </mat-card>  
</div>  